
@{
    ViewData["Title"] = "Edit post";
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <h3 class="text-center">Edit post</h3>

            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title" name="name" value="@ViewData["name"]" required>
            </div>

            <div class="alert alert-danger @ViewData["30"]">Title is empty.</div>

            <div class="form-group">
                <textarea class="form-control" id="exampleInputPassword1" placeholder="Description" name="description" required>@ViewData["description"]</textarea>
            </div>

            <div class="alert alert-danger @ViewData["31"]">Description is empty.</div>


            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>


